<div class="mycontainer">
  <div class="col-md-12">
  <div class="carousel slide" id="mainCarousel">
    <div class="carousel-inner">
      <div class="item active">
        <div class="row" >
          <div class="col-xs-12" >
            <a href="#"><img class="slide" src="https://rukminim1.flixcart.com/flap/3376/560/image/3f9f0a.jpg?q=50"></a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row" >
          <div class="col-xs-12" >
            <a href="#"><img class="slide" src="https://rukminim1.flixcart.com/flap/3376/560/image/5dbb22.jpg?q=50"></a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row" >
          <div class="col-xs-12" >
            <a href="#"><img class="slide" src="https://rukminim1.flixcart.com/flap/3376/560/image/67237d.jpg?q=50"></a>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#mainCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
    <a class="right carousel-control" href="#mainCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
  </div>
  </div>
  </div>