<div class="_2zg3yZ">
  <span>Page 1 of 5</span>
  <nav class="navb">
    <!-- <a class="_2Xp0TH fyt9Eu" href="/search?q=laptop&amp;sid=6bo%2Fb5g&amp;as=on&amp;as-show=on&amp;marketplace=FLIPKART&amp;otracker=start&amp;as-pos=1_1_ic_laptop&amp;page=1">1</a>
    <a class="_2Xp0TH" href="/search?q=laptop&amp;sid=6bo%2Fb5g&amp;as=on&amp;as-show=on&amp;marketplace=FLIPKART&amp;otracker=start&amp;as-pos=1_1_ic_laptop&amp;page=2">2</a>
    <a class="_2Xp0TH" href="/search?q=laptop&amp;sid=6bo%2Fb5g&amp;as=on&amp;as-show=on&amp;marketplace=FLIPKART&amp;otracker=start&amp;as-pos=1_1_ic_laptop&amp;page=3">3</a>
    <a class="_2Xp0TH" href="/search?q=laptop&amp;sid=6bo%2Fb5g&amp;as=on&amp;as-show=on&amp;marketplace=FLIPKART&amp;otracker=start&amp;as-pos=1_1_ic_laptop&amp;page=4">4</a>
    <a class="_2Xp0TH" href="/search?q=laptop&amp;sid=6bo%2Fb5g&amp;as=on&amp;as-show=on&amp;marketplace=FLIPKART&amp;otracker=start&amp;as-pos=1_1_ic_laptop&amp;page=5">5</a>
    <a class="_2Xp0TH" href="/search?q=laptop&amp;sid=6bo%2Fb5g&amp;as=on&amp;as-show=on&amp;marketplace=FLIPKART&amp;otracker=start&amp;as-pos=1_1_ic_laptop&amp;page=6">6</a>
    <a class="_2Xp0TH" href="/search?q=laptop&amp;sid=6bo%2Fb5g&amp;as=on&amp;as-show=on&amp;marketplace=FLIPKART&amp;otracker=start&amp;as-pos=1_1_ic_laptop&amp;page=7">7</a>
    <a class="_2Xp0TH" href="/search?q=laptop&amp;sid=6bo%2Fb5g&amp;as=on&amp;as-show=on&amp;marketplace=FLIPKART&amp;otracker=start&amp;as-pos=1_1_ic_laptop&amp;page=8">8</a>
    <a class="_2Xp0TH" href="/search?q=laptop&amp;sid=6bo%2Fb5g&amp;as=on&amp;as-show=on&amp;marketplace=FLIPKART&amp;otracker=start&amp;as-pos=1_1_ic_laptop&amp;page=9">9</a>
    <a class="_2Xp0TH" href="/search?q=laptop&amp;sid=6bo%2Fb5g&amp;as=on&amp;as-show=on&amp;marketplace=FLIPKART&amp;otracker=start&amp;as-pos=1_1_ic_laptop&amp;page=10">10</a>
    <a class="_3fVaIS" href="/search?q=laptop&amp;sid=6bo%2Fb5g&amp;as=on&amp;as-show=on&amp;marketplace=FLIPKART&amp;otracker=start&amp;as-pos=1_1_ic_laptop&amp;page=2"> -->
    <!-- <span>Next</span>
    </a> -->
  </nav>
  <div id="thirdline">
    <span id="sortby">PREVIOUS</span>
    <div [class]="Isclassforborder1" (click)="dochangeborder1($event)"> 1 </div>
    <div [class]="Isclassforborder2" (click)="dochangeborder2($event)"> 2 </div>
    <div [class]="Isclassforborder3" (click)="dochangeborder3($event)"> 3 </div>
    <div [class]="Isclassforborder4" (click)="dochangeborder4($event)"> 4 </div>
    <div [class]="Isclassforborder5" (click)="dochangeborder5($event)"> 5 </div>
  </div>
    <span class="_293mUA"></span>
  </div>
