<section id="RAM">

  <div id="ramevent" class="row">

    <div class=" col-sm-10 headingfiler">
      SECONDARY CAMERA
    </div>
    <div class="col-sm-2">
      <button id="rambutton" (click)="doshowhideonfilterRAM(RAM)">
        <i [class]="myclassforitag"></i>
        <!-- <i  id="upitag" class="fas fa-angle-up"></i> -->

      </button>
    </div>
  </div>
  <div [hidden]="flagforvaluesoffilterRAMclearall" id="clearallram">
    <span id="crossclearall"> x</span>
    <span id="textclearall">Clear all</span>
  </div>
  <div id="ramlist" [hidden]="flagforvaluesoffilterRAM">
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">Below 2 MP </div>
      </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">2 - 2.9 MP</div>
      </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">3 - 4.9 MP</div>
      </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">5 - 7.9 MP</div>
      </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">8 - 11.9 MP</div>
      </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">12 - 12.9 MP</div>
      </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">13 - 15.9 MP</div>
      </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">13 - 15.9 MP</div>
      </div>
    </div>

    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">16 - 20.9 MP</div>
      </div>
    </div>

    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">20 MP & Above</div>
      </div>
    </div>
  </div>
</section>
