<div class="babycare">
  <div class="babycare1">
    <div class="babycare11">
      <div class="babycare111 row">
        <div class="babycare1111 col-md-2">
          <div class="babycare11111">
            <h2 class="puxlXr">Best of Home Furnishing</h2>
            <div class="_2Umlwf">
              <a class="_1eFTEo" href="#">VIEW ALL</a>
            </div>
          </div>
        </div>
        <div class="babycare1112 col-md-2">
          <div class="babycare11121"  >
               <div class="babycare111211" style="height: 200px;">
                <div class="_3BTv9X" style="height: 200px; width: 200px;">
                  <img class="_30XEf0" alt="Huggies New Dry - L" src="https://rukminim1.flixcart.com/image/400/400/carpet-rug/c/v/s/fd45bdf-khfjkewf-homesazz-original-imaep4dn3ag8fgfg.jpeg?q=70">
                </div>
              </div>
              <div class="babycare111212">Carpets, Daris &amp; more</div>
              <div class="babycare111213">₹199-₹599</div>
              <div class="babycare111214">Zesture &amp; more</div>
              <div class="babycare111215"></div>
              

              <!--  -->
          </div>
        </div>

        <div class="babycare1112 col-md-2">
          <div class="babycare11121"  >
            <div class="babycare111211" style="height: 200px;">
             <div class="_3BTv9X" style="height: 200px; width: 200px;">
               <img class="_30XEf0" alt="Huggies New Dry - L" src="https://rukminim1.flixcart.com/image/400/400/jc0ttow0-1/bedsheet/e/d/p/florence-2330-flat-bella-casa-original-imaff5pp4qdxatpq.jpeg?q=70">
             </div>
           </div>
           <div class="babycare111212">Double Bedsheets</div>
           <div class="babycare111213">₹299-₹499</div>
           <div class="babycare111214">IWS, Zesture &amp; more</div>
           
           <!-- <div class="_3o3r66">Baby Wipes, Baby Powder &amp; more</div> -->
           <div class="babycare111215"></div>
    
       </div>
        </div>
        <div class="babycare1112 col-md-2">
          <div class="babycare11121"  >
            <div class="babycare111211" style="height: 200px;">
             <div class="_3BTv9X" style="height: 200px; width: 200px;">
               <img class="_30XEf0" alt="Huggies New Dry - L" src="https://rukminim1.flixcart.com/image/400/400/j9pyaa80/carpet-rug/k/m/g/carpetnew01114-shree-khatu-prints-original-imaexz7p4sjz2cwh.jpeg?q=70">
             </div>
           </div>
           <div class="babycare111212">Carpets, Daris &amp; more</div>
           <div class="babycare111213">Extra 20% Off</div>
           <div class="babycare111214">Floor Coverings</div>
           <div class="babycare111215"></div>
         
       </div>
        </div>

        <div class="babycare1112 col-md-2">
          <div class="babycare11121"  >
            <div class="babycare111211" style="height: 200px;">
             <div class="_3BTv9X" style="height: 200px; width: 200px;">
               <img class="_30XEf0" alt="Huggies New Dry - L" src="https://rukminim1.flixcart.com/image/400/400/jbpeavk0/pillow/y/n/9/pilw-02-pilw-02-la-verve-original-imafyzvfhkjpguxd.jpeg?q=70">
             </div>
           </div>
           <div class="babycare111212">Sleeping Pillows</div>
           <div class="babycare111213">Up to 60% Off</div>
           <div class="babycare111214"> Recron &amp; more</div>
           <div class="babycare111215"></div>
           
       </div>
        </div>

        <div class="babycare1112 col-md-2">
          <div class="babycare11121"  >
            <div class="babycare111211" style="height: 200px;">
             <div class="_3BTv9X" style="height: 200px; width: 200px;">
               <img class="_30XEf0" alt="Huggies New Dry - L" src="https://rukminim1.flixcart.com/image/400/400/jh0vb0w0/bedsheet/r/n/u/designer-s3d2002-flat-iws-original-imaf5597b93ft5sf.jpeg?q=70">
             </div>
           </div>
           <div class="babycare111212">3D Printed Bedsheets</div>
           <div class="babycare111213">₹169-₹349</div>
           <div class="babycare111214"> Strollers, Car Seat &amp; More</div>
           <div class="babycare111215"></div>
           
       </div>
      
        </div>
      </div>
      <div class="arrow">
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>
  </div>
</div>
