<div id="app-container">
  <header-comp></header-comp>
  <app-carousel></app-carousel>
  <!-- <navbar-comp></navbar-comp> -->
  <!-- <app-carosal></app-carosal>  -->

  <!-- <app-filter></app-filter> -->
  <!-- <app-images1></app-images1>  -->
  <!-- <footer-comp></footer-comp>
  
  <footer2-comp></footer2-comp>
   -->
  <!-- <app-footer3></app-footer3>

  
  <app-footer4></app-footer4> -->
  <!-- <app-footer></app-footer> -->
  
  <!-- <app-footer6></app-footer6>
  
  <app-footer5></app-footer5> -->
  <hr>
  <!-- <app-product-page></app-product-page> -->
  <hr>
  <!-- <app-front-page-adds></app-front-page-adds>
  <hr> -->
  <!-- <app-product-page></app-product-page> -->
  <!-- <hr> -->
 <!-- <app-reviewof-popular-laptops></app-reviewof-popular-laptops> -->
</div>
