 <div class="FilterAndData">
   
  <div class="row">
    <div class="col-lg-2">
      <div class="filterGrandContainer">
      <div id="filtercontainer">
        <section class="Filters">
          <div id="FL" class="row">
              <div id="filtername" class="col-md-6">Filters</div>
              <div id="clearallfilter" class="col-md-6">
                <span>CLEAR ALL</span>
              </div>
          </div>
          <div id="SL">
            <div id="SLmin">
              <span>x</span>
              <span>Min-₹16000</span>
               
            </div>
          </div>
        </section>
        <div id="Catagoriesdiv">
            <section class="Catagories">
                <div id="Category">CATEGORIES</div>
                <div id="mobiles-accessories">
                 <!-- <i class="fab fa-facebook-f"></i> -->
                 <i class="fas fa-search"></i>
                 <a class="_3O_Sek _32ZSYo" title="Mobiles &amp; Accessories" href="/mobiles-accessories/pr?sid=tyy&amp;q=mobile&amp;otracker=categorytree">Mobiles &amp; Accessories</a>
                    </div>
                <div id="mobiles">
                    <a class="_3O_Sek _32ZSYo" title="Mobiles &amp; Accessories" href="/mobiles-accessories/pr?sid=tyy&amp;q=mobile&amp;otracker=categorytree">Mobiles</a>
                  </div>
            
              </section>
              <app-filter-ram></app-filter-ram>
              <app-filter-brand></app-filter-brand>
              <app-filter-customer-rating></app-filter-customer-rating>
              <app-filter-budget></app-filter-budget>
              <app-filter-clock-speed></app-filter-clock-speed>
              <app-filter-internal-storage></app-filter-internal-storage>
              <app-filter-numberofcore></app-filter-numberofcore>
              <app-filter-operating-system></app-filter-operating-system>
              <app-filter-primary-camera></app-filter-primary-camera>
              <app-filter-secondary-camera></app-filter-secondary-camera>
              <app-filter-processor-brand></app-filter-processor-brand>
              <app-filter-screen-size></app-filter-screen-size>
              <app-filter-sim-type></app-filter-sim-type>
              <app-filter-speciality></app-filter-speciality>
              <app-filter-type></app-filter-type>
              <app-filter-battery-capacity></app-filter-battery-capacity>

              
              <!-- <app-filter-laptop-brand></app-filter-laptop-brand>
              <app-filter-laptop-processor></app-filter-laptop-processor>
              <app-filter-laptop-customer-ratings></app-filter-laptop-customer-ratings>
              <app-filter-laptop-dedicated-graphics-memory></app-filter-laptop-dedicated-graphics-memory>
              <app-filter-laptop-graphics-memory-type></app-filter-laptop-graphics-memory-type>
              <app-filter-laptop-graphics-processor-name></app-filter-laptop-graphics-processor-name>       
              <app-filter-laptop-graphics-processor-series></app-filter-laptop-graphics-processor-series>
              <app-filter-laptop-life-style></app-filter-laptop-life-style>
              <app-filter-laptop-operating-system></app-filter-laptop-operating-system>
              <app-filter-laptop-processor-brand></app-filter-laptop-processor-brand>
              <app-filter-laptop-ram></app-filter-laptop-ram>
              <app-filter-laptop-ram-type></app-filter-laptop-ram-type>
              <app-filter-laptop-screen-size></app-filter-laptop-screen-size>
              <app-filter-laptop-ssd-capacity></app-filter-laptop-ssd-capacity>
              <app-filter-laptop-storage-type></app-filter-laptop-storage-type>
              <app-filter-laptop-touch-screen></app-filter-laptop-touch-screen>
              <app-filter-laptop-type></app-filter-laptop-type>
              <app-filter-laptop-weight></app-filter-laptop-weight> -->



            </div>
              <!-- <section class="RAM">
            <div id="ramicon">
              <div id="ramname">RAM</div>
              <i></i>
            </div>
            <div class="tableRAM">
              <div class="boxplustext" title="2 GB">
        
        
                <label>
                  <input type="checkbox" class="" readonly="" value="on">
                  <div class="box"></div>
                  <div class="text">2 GB</div>
                </label>
        
              </div>
              <div class="boxplustext" title="3 GB">
        
        
                <label>
                  <input type="checkbox" class="" readonly="" value="on">
                  <div class="box"></div>
                  <div class="text">3 GB</div>
                </label>
        
              </div>
              <div class="boxplustext" title="4 GB">
        
        
                <label>
                  <input type="checkbox" class="" readonly="" value="on">
                  <div class="box"></div>
                  <div class="text">4 GB</div>
                </label>
        
              </div>
              <div class="boxplustext" title="6 GB & Above">
        
        
                <label>
                  <input type="checkbox" class="" readonly="" value="on">
                  <div class="box"></div>
                  <div class="text">6 GB & Above</div>
                </label>
        
              </div>
              <div class="boxplustext" title="Less than 512 MB">
        
        
                <label>
                  <input type="checkbox" class="" readonly="" value="on">
                  <div class="box"></div>
                  <div class="text">Less than 512 MB</div>
                </label>
        
              </div>
              <div class="boxplustext" title="512 MB - 1 GB">
        
        
                <label>
                  <input type="checkbox" class="" readonly="" value="on">
                  <div class="box"></div>
                  <div class="text">512 MB - 1 GB</div>
                </label>
        
              </div>
              <div class="boxplustext" title="1 GB">
        
        
                <label>
                  <input type="checkbox" class="" readonly="" value="on">
                  <div class="box"></div>
                  <div class="text">1 GB</div>
                </label>
        
              </div>
        
            </div>
        
          </section> -->
        <!-- <section class="Price">
          <div id="Price">PRICE</div>
          <div id="graph"></div>
          <div id="dashed"></div>
          <div id="minmax"></div>
      
        </section>
        <section class="fassured">
          <div id="inputfAssured"></div>
          <div id="?"></div>
        </section>
        <section class="RAM">
          <div id="ramicon">
            <div id="ramname">RAM</div>
            <i></i>
          </div>
          <div class="tableRAM">
            <div class="boxplustext" title="2 GB">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">2 GB</div>
              </label>
      
            </div>
            <div class="boxplustext" title="3 GB">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">3 GB</div>
              </label>
      
            </div>
            <div class="boxplustext" title="4 GB">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">4 GB</div>
              </label>
      
            </div>
            <div class="boxplustext" title="6 GB & Above">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">6 GB & Above</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Less than 512 MB">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Less than 512 MB</div>
              </label>
      
            </div>
            <div class="boxplustext" title="512 MB - 1 GB">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">512 MB - 1 GB</div>
              </label>
      
            </div>
            <div class="boxplustext" title="1 GB">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">1 GB</div>
              </label>
      
            </div>
      
          </div>
      
        </section>
        <section class="BRAND">
          <div class="brandicon">
            <div id="brandname">BRAND</div>
            <i></i>
          </div>
          <div class="tableBRAND">
            <div class="clearall">
              <div id="crossicon">x</div>
              <div id="Clearall">Clear all</div>
            </div>
            <div class="SearchBrand">
              <div class="glassicon"></div>
              <input type="text" value="" class="inputSearch" placeholder="Search Brand">
            </div>
            <div class="boxplustext" title="Asus">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Asus</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Apple">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Apple</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Mi">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Mi</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Motorola">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Motorola</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Vivo">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Vivo</div>
              </label>
      
            </div>
           
          </div>
        </section>
        <section class="CUSTOMER RATINGS">
          <div class="cutomerratingsicon">
            <div id="brandname"></div>
            <i></i>
          </div>
          <div class="tableCUSTOMERRATINGS">
            <div class="clearall">
              <div id="crossicon">x</div>
              <div id="Clearall">Clear all</div>
            </div>
            <div class="boxplustext" title="4★ &amp; above">
               
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">4★ &amp; above</div>
              </label>
      
            </div>
            <div class="boxplustext" title="3★ &amp; above">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">3★ &amp; above</div>
              </label>
      
            </div>
            <div class="boxplustext" title="2★ &amp; above">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">2★ &amp; above</div>
              </label>
      
            </div>
            <div class="boxplustext" title="1★ &amp; above">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">1★ &amp; above</div>
              </label>
      
            </div>
          </div>
        </section>
        <section class="INTERNAL STORAGE">
          <div class="internalstorageicon">
            <div id="brandname">INTERNAL STORAGE</div>
            <i></i>
          </div>
          <div class="tableINTERNALSTORAGE">
      
            <div class="boxplustext" title="8 - 15.9 GB">
              
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">8 - 15.9 GB</div>
              </label>
      
            </div>
            <div class="boxplustext" title="16 - 31.9 GB">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">16 - 31.9 GB</div>
              </label>
      
            </div>
            <div class="boxplustext" title="">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">16 - 31.9 GB</div>
              </label>
      
            </div>
            <div class="boxplustext" title="32 - 63.9 GB">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">32 - 63.9 GB</div>
              </label>
      
            </div>
            <div class="boxplustext" title="32 - 63.9 GB">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">32 - 63.9 GB</div>
              </label>
      
            </div>
            <div class="boxplustext" title="64 - 127.9 GB">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">64 - 127.9 GB</div>
              </label>
      
            </div>
            <div class="boxplustext" title="128 - 255.9 GB">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">128 - 255.9 GB</div>
              </label>
      
            </div>
            <div class="boxplustext" title="1 GB - 1.9 GB">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">1 GB - 1.9 GB</div>
              </label>
      
            </div>
            <div class="boxplustext" title="2 GB - 3.9 GB">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">2 GB - 3.9 GB</div>
              </label>
      
            </div>
            <div class="boxplustext" title="4 - 7.9 GB">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">4 - 7.9 GB</div>
              </label>
      
            </div>
            <div class="boxplustext" title="256 GB & Above">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">256 GB & Above</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Less than 1 GB">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Less than 1 GB</div>
              </label>
      
            </div>
          </div>
        </section>
        <section class="BATTERY CAPACITY">
          <div class="batterycapacityicon">
            <div id="brandname">BATTERY CAPACITY</div>
            <i></i>
          </div>
          <div class="tableBATTERYCAPACITY">
      
            <div class="boxplustext" title="2000 - 2999 mAh">
               
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">2000 - 2999 mAh</div>
              </label>
      
            </div>
            <div class="boxplustext" title="3000 - 3999 mAh">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">3000 - 3999 mAh</div>
              </label>
      
            </div>
            <div class="boxplustext" title="5000 mAh & Above">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">5000 mAh & Above</div>
              </label>
      
            </div>
            <div class="boxplustext" title="1000 - 1999 mAh">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">1000 - 1999 mAh</div>
              </label>
      
            </div>
            <div class="boxplustext" title="4000 - 4999 mAh">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">4000 - 4999 mAh</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Less than 1000 mAh">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Less than 1000 mAh</div>
              </label>
      
            </div>
      
          </div>
        </section>
        <section class="OPERATING SYSTEM">
          <div class="operatingsystemicon">
            <div id="brandname">OPERATING SYSTEM</div>
            <i></i>
          </div>
          <div class="tableOPERATINGSYSTEM">
      
            <div class="boxplustext" title="Android">
             
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Android</div>
              </label>
      
            </div>
            <div class="boxplustext" title="iOS">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">iOS</div>
              </label>
      
            </div>
            <div class="boxplustext" title="KaiOS">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">KaiOS</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Sailfish">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Sailfish</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Tizen">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Tizen</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Windows">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Windows</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Brew">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Brew</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Linux">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Linux</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Symbain">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Symbain</div>
              </label>
      
            </div>
          </div>
        </section>
        <section class="SCREEN SIZE">
          <div class="screensizeicon">
            <div id="brandname">SCREEN SIZE</div>
            <i></i>
          </div>
          <div class="tableSCREENSIZE">
      
            <div class="boxplustext" title="5.2 - 5.4 inch">
              
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">5.2 - 5.4 inch</div>
              </label>
      
            </div>
            <div class="boxplustext" title="5.5 - 5.6 inch">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">5.5 - 5.6 inch</div>
              </label>
      
            </div>
            <div class="boxplustext" title="5.7 - 5.9 inch">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">5.7 - 5.9 inch</div>
              </label>
      
            </div>
            <div class="boxplustext" title="6 inch & above">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">6 inch & above</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Less than 3 inch">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Less than 3 inch</div>
              </label>
      
            </div>
            <div class="boxplustext" title="3 - 3.4 inch">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">3 - 3.4 inch</div>
              </label>
      
            </div>
      
            <div class="boxplustext" title="3.5 - 3.9 inch">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">3.5 - 3.9 inch</div>
              </label>
      
            </div>
      
            <div class="boxplustext" title="4 - 4.4 inch">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">4 - 4.4 inch</div>
              </label>
      
            </div>
      
            <div class="boxplustext" title="4.5 - 4.9 inch">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">4.5 - 4.9 inch</div>
              </label>
      
            </div>
      
            <div class="boxplustext" title="5 - 5.1 inch">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">5 - 5.1 inch</div>
              </label>
      
            </div>
          </div>
        </section>
        <section class="PRIMARY CAMERA">
          <div class="primarycameraicon">
            <div id="brandname">PRIMARY CAMERA</div>
            <i></i>
          </div>
          <div class="tablePRIMARYCAMERA">
      
            <div class="boxplustext" title="8 - 11.9 MP">
                <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">8 - 11.9 MP</div>
              </label>
      
            </div>
            <div class="boxplustext" title="12 - 12.9 MP">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">12 - 12.9 MP</div>
              </label>
      
            </div>
            <div class="boxplustext" title="13 - 15.9 MP">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">13 - 15.9 MP</div>
              </label>
      
            </div>
            <div class="boxplustext" title="16 - 20.9 MP">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">16 - 20.9 MP</div>
              </label>
      
            </div>
            <div class="boxplustext" title="21 MP & Above">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">21 MP & Above</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Below 2 MP">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Below 2 MP</div>
              </label>
      
            </div>
      
            <div class="boxplustext" title="Below 2 MP">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Below 2 MP</div>
              </label>
      
            </div>
      
            <div class="boxplustext" title="2 - 2.9 MP">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">2 - 2.9 MP</div>
              </label>
      
            </div>
      
            <div class="boxplustext" title="3 - 4.9 MP">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">3 - 4.9 MP</div>
              </label>
      
            </div>
      
            <div class="boxplustext" title="5 - 7.9 MP">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">5 - 7.9 MP</div>
              </label>
      
            </div>
          </div>
        </section>
        <section class="SECONDARY CAMERA">
          <div class="secondarycameraicon">
            <div id="brandname">SECONDARY CAMERA</div>
            <i></i>
          </div>
          <div class="tableSECONDARYCAMERA">
      
            <div class="boxplustext" title="8 - 11.9 MP">
              
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">8 - 11.9 MP</div>
              </label>
      
            </div>
            <div class="boxplustext" title="12 - 12.9 MP">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">12 - 12.9 MP</div>
              </label>
      
            </div>
            <div class="boxplustext" title="13 - 15.9 MP">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">13 - 15.9 MP</div>
              </label>
      
            </div>
            <div class="boxplustext" title="16 - 20.9 MP">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">16 - 20.9 MP</div>
              </label>
      
            </div>
            <div class="boxplustext" title="21 MP & Above">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">21 MP & Above</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Below 2 MP">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Below 2 MP</div>
              </label>
      
            </div>
      
            <div class="boxplustext" title="Below 2 MP">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Below 2 MP</div>
              </label>
      
            </div>
      
            <div class="boxplustext" title="2 - 2.9 MP">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">2 - 2.9 MP</div>
              </label>
      
            </div>
      
            <div class="boxplustext" title="3 - 4.9 MP">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">3 - 4.9 MP</div>
              </label>
      
            </div>
      
            <div class="boxplustext" title="5 - 7.9 MP">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">5 - 7.9 MP</div>
              </label>
      
            </div>
            <div class="boxplustext" title="0 - 1.9 MP">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">0 - 1.9 MP</div>
              </label>
      
            </div>
          </div>
        </section>
        <section class="PROCESSOR BRAND">
          <div class="processorbrandicon">
            <div id="brandname">PROCESSOR BRAND</div>
            <i></i>
          </div>
          <div class="tablePROCESSORBRAND">
      
            <div class="boxplustext" title="Snapdragon">
              
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Snapdragon</div>
              </label>
      
            </div>
            <div class="boxplustext" title="AMD">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">AMD</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Apple">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Apple</div>
              </label>
      
            </div>
            <div class="boxplustext" title="ARM">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">ARM</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Broadcom">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Broadcom</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Huawei">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Huawei</div>
              </label>
      
            </div>
      
            <div class="boxplustext" title="Intel">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Intel</div>
              </label>
      
            </div>
      
            <div class="boxplustext" title="Exynos">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Exynos</div>
              </label>
      
            </div>
      
            <div class="boxplustext" title="Mediatek">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Mediatek</div>
              </label>
      
            </div>
      
            <div class="boxplustext" title="Spreadtrum">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Spreadtrum</div>
              </label>
      
            </div>
      
          </div>
        </section>
        <section class="SPECIALITY">
          <div class="specialityicon">
            <div id="brandname">SPECIALITY</div>
            <i></i>
          </div>
          <div class="tableSPECIALITY">
      
            <div class="boxplustext" title="Big Storage">
              
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Big Storage</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Higher Performance">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Higher Performance</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Long-Lasting Bettery">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Long-Lasting Bettery</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Selfie Camera">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Selfie Camera</div>
              </label>
      
            </div>
      
          </div>
        </section>
      
        <section class="NUMBER OF CORE">
          <div class="numberofcoreicon">
            <div id="brandname">NUMBER OF CORE</div>
            <i></i>
          </div>
          <div class="tableNUMBEROFCORE">
      
            <div class="boxplustext" title="Dual Core">
              
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Dual Core</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Single Core">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Single Core</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Quad Core">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Hexa Core</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Octa Core">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Octa Core</div>
              </label>
      
            </div>
      
          </div>
        </section>
      
        <section class="BUDGET">
          <div class="budgeticon">
            <div id="brandname">BUDGET</div>
            <i></i>
          </div>
          <div class="tableBUDGET">
      
            <div class="boxplustext" title="Below Rs. 5000">
             
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Below Rs. 5000</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Rs. 5000 - Rs. 9999">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Rs. 5000 - Rs. 9999</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Rs. 10000 - Rs. 14999">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Rs. 10000 - Rs. 14999</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Rs. 30000 and Above">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Rs. 30000 and Above</div>
              </label>
      
            </div>
      
          </div>
        </section>
      
        <section class="TYPE">
          <div class="typeicon">
            <div id="brandname">TYPE</div>
            <i></i>
          </div>
          <div class="tableTYPE">
      
            <div class="boxplustext" title="Smartphones">
             
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Smartphones</div>
              </label>
      
            </div>
            <div class="boxplustext" title="Features Phones">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Features Phones</div>
              </label>
      
            </div>
          </div>
        </section>
      
        <section class="CLOCK SPEED">r
          <div class="clockspeedicon">
            <div id="brandname">CLOCK SPEED</div>
            <i></i>
          </div>
          <div class="tableCLOCKSPEED">
      
            <div class="boxplustext" title="1 - 1.5 GHz">
              
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">1 - 1.5 GHz</div>
              </label>
      
            </div>
            <div class="boxplustext" title="1.5 - 1.9 GHz">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">1.5 - 1.9 GHz</div>
              </label>
      
            </div>
            <div class="boxplustext" title="2 - 2.5 GHz">
      
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">2 - 2.5 GHz</div>
              </label>
      
            </div>
            <div class="boxplustext" title="2.5 GHz & Above">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">2.5 GHz & Above</div>
              </label>
      
            </div>
      
            <div class="boxplustext" title="Less than 900 MHz">
      
              <label>
                <input type="checkbox" class="" readonly="" value="on">
                <div class="box"></div>
                <div class="text">Less than 900 MHz</div>
              </label>
      
            </div>
          </div>
        </section> -->
        
       
      </div>
      
   </div>
  </div>
    <div class="col-lg-10">
      <div id="listdataGrandcontainer">
      <div id="listdatacontainer"> 
        <app-header-list></app-header-list>
        <app-main-item-list></app-main-item-list>
        <!-- 
        <app-main-item-list-laptop></app-main-item-list-laptop> -->
        <app-page-number></app-page-number>
       
    </div>
  </div>
  </div>

</div>
