<div class="babycare">
  <div class="babycare1">
    <div class="babycare11">
      <div class="babycare111 row">
        <div class="babycare1111 col-md-2">
          <div class="babycare11111">
            <h2 class="puxlXr">Fashion for Travel Lovers</h2>
            <div class="_2Umlwf">
              <a class="_1eFTEo" href="#">VIEW ALL</a>
            </div>
          </div>
        </div>
        <div class="babycare1112 col-md-2">
          <div class="babycare11121"  >
               <div class="babycare111211" style="height: 200px;">
                <div class="_3BTv9X" style="height: 200px; width: 200px;">
                  <img class="_30XEf0" alt="Huggies New Dry - L" src="https://rukminim1.flixcart.com/image/400/400/jf2uqa80/shoe/s/4/h/p42fb0599413857blue-3-people-blue-original-imaf3m7nftfnktwa.jpeg?q=70">
                </div>
              </div>
              <div class="babycare111212">Women's Footwear</div>
              <div class="babycare111213">Up to 35% Off </div>
              <div class="babycare111214">Diapers </div>
              <div class="babycare111215"></div>
              

              <!--  -->
          </div>
        </div>

        <div class="babycare1112 col-md-2">
          <div class="babycare11121"  >
            <div class="babycare111211" style="height: 200px;">
             <div class="_3BTv9X" style="height: 200px; width: 200px;">
               <img class="_30XEf0" alt="Huggies New Dry - L" src="https://rukminim1.flixcart.com/image/400/400/j6dxaq80/shoe/q/z/u/cll-3642gold-7-carlton-london-gold-original-imaewv9gnd2gynae.jpeg?q=70">
             </div>
           </div>
           <div class="babycare111212">Women's Footwear</div>
           <div class="babycare111213">Up to 20% Off </div>
           <div class="babycare111214">Baby Wipes, Baby Powder &amp; more</div>
           
           <!-- <div class="_3o3r66">Baby Wipes, Baby Powder &amp; more</div> -->
           <div class="babycare111215"></div>
    
       </div>
        </div>
        <div class="babycare1112 col-md-2">
          <div class="babycare11121"  >
            <div class="babycare111211" style="height: 200px;">
             <div class="_3BTv9X" style="height: 200px; width: 200px;">
               <img class="_30XEf0" alt="Huggies New Dry - L" src="https://rukminim1.flixcart.com/image/400/400/j8ndea80/watch/t/k/b/2038-bl-fogg-original-imaeym9tphczbrzy.jpeg?q=70">
             </div>
           </div>
           <div class="babycare111212">Lois Caron, Britex &amp; more</div>
           <div class="babycare111213">From ₹49</div>
           <div class="babycare111214">Himalaya, Johnson's &amp; more...</div>
           <div class="babycare111215"></div>
         
       </div>
        </div>

        <div class="babycare1112 col-md-2">
          <div class="babycare11121"  >
            <div class="babycare111211" style="height: 200px;">
             <div class="_3BTv9X" style="height: 200px; width: 200px;">
               <img class="_30XEf0" alt="Huggies New Dry - L" src="https://rukminim1.flixcart.com/image/400/400/jf751u80/watch/r/7/6/lcs-8060-lois-caron-original-imaf3dfchev2dgsz.jpeg?q=70 ">
             </div>
           </div>
           <div class="babycare111212">Lois Caron, Abrexo &amp; more</div>
           <div class="babycare111213">Up to 60% Off</div>
           <div class="babycare111214">Teethers &amp; Soothers,  Cleaners..</div>
           <div class="babycare111215"></div>
           
       </div>
        </div>

        <div class="babycare1112 col-md-2">
          <div class="babycare11121"  >
            <div class="babycare111211" style="height: 200px;">
             <div class="_3BTv9X" style="height: 200px; width: 200px;">
               <img class="_30XEf0" alt="Huggies New Dry - L" src="https://rukminim1.flixcart.com/image/400/400/j0wqj680/watch/x/9/g/tw002e101-timex-original-imaeshhzctcaaesy.jpeg?q=70">
             </div>
           </div>
           <div class="babycare111212">Timex, Maxima &amp; more</div>
           <div class="babycare111213">Up to 50% Off</div>
           <div class="babycare111214"> Strollers, Car Seat &amp; More</div>
           <div class="babycare111215"></div>
          
       </div>
      
        </div>
      </div>
      <div class="arrow">
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>
  </div>
</div>
