<div id="review-container">
  <app-review-header-laptop></app-review-header-laptop>
  <div>
    <app-review-laptop1></app-review-laptop1>
    <hr>
    <app-review-laptop2></app-review-laptop2>
    <hr>
    <app-review-laptop3></app-review-laptop3>
    <hr> 
    <app-review-laptop4></app-review-laptop4>
    <hr>
    <app-review-laptop5></app-review-laptop5>
    <hr>
    <app-review-laptop5></app-review-laptop5><hr>
    <app-review-laptop5></app-review-laptop5>
    <hr>
    <app-review-laptop3></app-review-laptop3>
    <hr>
    <app-review-laptop3></app-review-laptop3>
    <hr>
    <app-review-laptop3></app-review-laptop3>
    <hr>
    <app-review-laptop2></app-review-laptop2>
  </div>
</div>
