<div class="footer6-container">
  <div class="footer61">

    <div class="footer611">
      <span>
        <span>Top Stories</span> :
        <a class="atag" href="/brands">
          <span>Brand Directory</span>
        </a>
      </span>
    </div>
    <div>
      <div class="footer612">
        <div>Most searched for on Flipkart:
          <!-- -->
          <a class="atag2" href="/home-improvement/home-storage-organization/living-room/umbrellas/pr?sid=a7v,639,ynv,wdf&amp;otracker=undefined_footer_footer">
            <!-- -->Umbrellas</a>
          <a class="atag2" href="/mobiles/mobiistar~brand/pr?sid=tyy,4io&amp;otracker=undefined_footer_footer">
            <!-- -->Mobiistar Mobiles</a>
          <a class="atag2" href="/durability-certified-furniture-store?otracker=undefined_footer_footer">
            <!-- -->Durability Certified Furniture Store</a>
          <a class="atag2" href="/honor-7a-9516-1708-store?otracker=undefined_footer_footer">
            <!-- -->Honor 7</a>
          <a class="atag2" href="/flipkart-fashion-days-intrigue-store?otracker=undefined_footer_footer">
            <!-- -->Flipkart Fashion Days</a>
          <a class="atag2" href="/samsung-galaxy-j6-black-32-gb/p/itmf5bkhmazzymgm?otracker=undefined_footer_footer">
            <!-- -->Samsung J6</a>
          <a class="atag2" href="/ivoomi-i2-olive-black-32-gb/p/itmf52g7fbkqa6g3?otracker=undefined_footer_footer">
            <!-- -->iVoomi i2</a>
          <a class="atag2" href="/honor-10-9752-0212-store?otracker=undefined_footer_footer">
            <!-- -->Honor 10</a>
          <a class="atag2" href="/mothers-day-gifts-store?otracker=undefined_footer_footer">
            <!-- -->Mother's Day Gifts Store</a>
          <a class="atag2" href="/televisions/~android-tvs/pr?sid=ckf,czl&amp;otracker=undefined_footer_footer">
            <!-- -->Android TV</a>
          <a class="atag2" href="/asus-zenfone-max-pro-launch-store?otracker=undefined_footer_footer">
            <!-- -->Asus Zenfone Max Pro</a>
          <a class="atag2" href="/vivo-v9-gold-64-gb/p/itmf3k77fmxzaph9?otracker=undefined_footer_footer">
            <!-- -->VIVO V9</a>
          <a class="atag2" href="/womens-clothing/ethnic-wear/pr?sid=2oq,c1r,3pj&amp;otracker=undefined_footer_footer">
            <!-- -->Ethnic Wear</a>
          <a class="atag2" href="/oppo-f7-red-64-gb/p/itmf3pzhjtdpvdvg?otracker=undefined_footer_footer">
            <!-- -->OPPO F7</a>
          <a class="atag2" href="/redmi-note-5-black-32-gb/p/itmf2fc33zekgeys?otracker=undefined_footer_footer">
            <!-- -->Redmi Note 5</a>
          <a class="atag2" href="/hdfc-debit-pre-approved-emi-store?otracker=undefined_footer_footer">
            <!-- -->HDFC Debit Card EMI</a>
          <a class="atag2" href="/axis-debit-emi-store?otracker=undefined_footer_footer">
            <!-- -->Axis Debit Card EMI</a>
          <a class="atag2" href="/redmi-note-5-pro-black-64-gb/p/itmf2fc3xgmxnhpx?otracker=undefined_footer_footer">
            <!-- -->Redmi Note 5 Pro</a>
          <a class="atag2" href="/honor-9-lite-midnight-black-32-gb/p/itmff5zgdeckztpk?otracker=undefined_footer_footer">
            <!-- -->Honor 9 lite</a>
          <a class="atag2" href="/mobiles/~iphone-x-64gb-and-256gb/pr?sid=tyy,4io&amp;otracker=undefined_footer_footer">
            <!-- -->iphone X</a>
          <a class="atag2" href="/mobiles/~vivo-v7-plus/pr?sid=tyy,4io&amp;otracker=undefined_footer_footer">
            <!-- -->VIVO V7 Plus</a>
          <a class="atag2" href="/oppo-f5-black-64-gb/p/itmezq6rgu7uhcf4?otracker=undefined_footer_footer">
            <!-- -->Oppo f5</a>
          <a class="atag2" href="/coupons-store?otracker=undefined_footer_footer">
            <!-- -->Flipkart Coupons</a>
          <a class="atag2" href="/q/ipl-t-shirts?otracker=undefined_footer_footer">
            <!-- -->IPL T Shirts</a>
          <a class="atag2" href="/birthday-gifts-store?otracker=undefined_footer_footer">
            <!-- -->Birthday Gifts</a>
          <a class="atag2" href="/wedding-gifts-store?otracker=undefined_footer_footer">
            <!-- -->Wedding Gifts</a>
          <a class="atag2" href="/anniversary-gifts-store?otracker=undefined_footer_footer">
            <!-- -->Anniversary Gifts</a>
          <a class="atag2" href="/new-year-gifts-store?otracker=undefined_footer_footer">
            <!-- -->New Year Gifts</a>
          <a class="atag2" href="/christmas-gifts-store?otracker=undefined_footer_footer">
            <!-- -->Christmas Gifts</a>
          <a class="atag2" href="/house-warming-gifts-store?otracker=undefined_footer_footer">
            <!-- -->Housewarming Gifts</a>
          <a class="atag2" href="/gifts-for-men-store?otracker=undefined_footer_footer">
            <!-- -->Gifts for Men</a>
          <a class="atag2" href="/gifts-for-women-store?otracker=undefined_footer_footer">
            <!-- -->Gifts for Women</a>
          <a class="atag2" href="/gifts-for-boys-store?otracker=undefined_footer_footer">
            <!-- -->Gifts for Boys</a>
          <a class="atag2" href="/gifts-for-girls-store?otracker=undefined_footer_footer">
            <!-- -->Gifts for Girls</a>
        </div>
      </div>
      <div>
        <div class="footer612">
          <div>Mobiles:
            <!-- -->
            <a class="atag2" href="/nokia-8-sirocco-black-128-gb/p/itmf3sysxhycgqnw?otracker=undefined_footer_footer">
              <!-- -->Nokia 8 Sirocco</a>
            <a class="atag2" href="/redmi-5a-gold-16-gb/p/itmfy6cg6a5m7mwh?otracker=undefined_footer_footer">
              <!-- -->Redmi 5A</a>
            <a class="atag2" href="/4g-mobile-phones-store?otracker=undefined_footer_footer">
              <!-- -->4G Mobile</a>
            <a class="atag2" href="/mobiles/~mia1/pr?sid=tyy,4io&amp;otracker=undefined_footer_footer">
              <!-- -->Mi A1</a>
            <a class="atag2" href="/htc-mobile-phones-store?otracker=undefined_footer_footer">
              <!-- -->HTC Mobile</a>
            <a class="atag2" href="/honor-mobile-phones-store?otracker=undefined_footer_footer">
              <!-- -->Honor Mobile</a>
            <a class="atag2" href="/nokia-mobile-phones-store?otracker=undefined_footer_footer">
              <!-- -->Nokia Mobile</a>
            <a class="atag2" href="/samsung-mobile-store?otracker=undefined_footer_footer">
              <!-- -->Samsung Mobile</a>
            <a class="atag2" href="/mobiles/mi~brand/pr?sid=tyy,4io&amp;otracker=undefined_footer_footer">
              <!-- -->Mi Mobile</a>
            <a class="atag2" href="/mobiles/apple~brand/pr?sid=tyy,4io&amp;otracker=undefined_footer_footer">
              <!-- -->iphone</a>
            <a class="atag2" href="/oppo-mobile-phones-store?otracker=undefined_footer_footer">
              <!-- -->Oppo Mobile</a>
            <a class="atag2" href="/vivo-mobile-phones-store?otracker=undefined_footer_footer">
              <!-- -->Vivo Mobile</a>
            <a class="atag2" href="/lenovo-mobile-phones-store?otracker=undefined_footer_footer">
              <!-- -->Lenovo Mobile</a>
            <a class="atag2" href="/micromax-mobile-phones-store?otracker=undefined_footer_footer">
              <!-- -->Micromax Mobile</a>
            <a class="atag2" href="/motorola-mobile-phones-store?otracker=undefined_footer_footer">
              <!-- -->Motorola Mobile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
