<!------ Include the above in your HEAD tag ---------->
<!-- <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li> -->

<!-- Footer -->
<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5>ABOUT</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a href="#">
              <span>Contact Us</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>About Us</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Careers</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Flipkart Stories</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Flipkart First</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Subscription</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Press</span>
            </a>
          </li>

        </ul>
      </div>
      <div class="col">
        <h5>HELP</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a href="#">
              <span>Payments</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Shipping</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Cancellation &</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Returns</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>FAQ</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Report Infringement</span>
            </a>
          </li>

        </ul>
      </div>
      <div class="col">
        <h5>POLICY</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a href="#">
              <span>Returns Policy</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Terms Of Use</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Security</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Privacy</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Sitemp</span>
            </a>
          </li>

        </ul>
      </div>
      <div class="col">
        <h5>SOCIAL</h5>
        <ul id="LINE" class="list-unstyled quick-links">
          <li>
            <a href="#">
              <span>Facebook</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Twitter</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Youtube</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Google Plus</span>
            </a>
          </li>
          
        </ul>
      </div>
      <div class="col">
        <h5>Mail Us:</h5>
        <ul class="list-unstyled quick-links">
          <li>
            
              <p>Flipkart Internet Pvt Ltd Block B(Begonia),</p>
           
          </li>
          <li>
            
              <p>Ground Floor,Embassy Tech Village,</p>
           
          </li>
          <li>
            
              <p>Outer Ring Road,Devarabeesanahalli Village,</p>
            
          </li>
          <li>
             
              <p>Varthur Hobli,Bengaluru East Taluk</p>
            
          </li>
          <li>
             
              <p>Benguluru District,</p>
                       </li>
          <li>
             
              <p>Karnataka,India, 560103.</p>
            
          </li>
        </ul>
      </div>
      <div class="col">
        <h5>Registered Office Address:</h5>
        <ul class="list-unstyled quick-links">
          <li>
             
              <p>Flipkart Internet Private Limited</p>
             
          </li>
          <li>
            
              <p>Vaishnavi Summit,Ground Floor, 7th Main,</p>
             
          </li>
          <li>
             
              <p>80 Feet Road,3rd Block,</p>
             
          </li>
          <li>
            
              <p>Koramangala,</p>
            
          </li>
          <li>
             
            <p>Benguluru-560034</p>
             
          </li>
          <li>
             
              <p>India</p>
             
            </li>
          <li>
           
                <p>CIN:U51109KA2012PTC066107</p>
    
            </li>    
    
          <li> 
          
                <p>Telephone:
                        <a href="#">1800 208 9898
    
                </a>
            </p>
             
          </li>

        </ul>
      </div>

    </div>

</div>
</section>

<!-- ./Footer -->
