<div class="row">
  <div class="col-md-8 first">
    <span class="policies-title footertitle">Policies:</span>
    <a class="atag" href="/returnpolicy" target="_blank" rel="noopener noreferrer">Returns Policy</a>
    <a class="atag" href="/s/terms" target="_blank" rel="noopener noreferrer">Terms of use</a>
    <a class="atag" href="/s/paymentsecurity" target="_blank" rel="noopener noreferrer">Security</a>
    <a class="atag" href="/s/privacypolicy" target="_blank" rel="noopener noreferrer">Privacy</a>
    <a class="atag" href="https://seller.flipkart.com/fiv" target="_blank" rel="noopener noreferrer">Infringement</a>
    <span class="_2tFDQF">© 2007-
      <!-- -->2018
      <!-- -->
      <span>Flipkart.com.</span>
    </span>
  </div>
  <div class="col-md-4 second">
    <span>Keep In Touch</span>

    <a target="_blank" href="http://www.facebook.com/flipkart">
      <img src="https://use.fontawesome.com/releases/v5.1.0/svgs/brands/facebook.svg" class="atag2" alt="">
    </a>
    <a target="_blank" href="https://twitter.com/flipkart?link=http%3A%2F%2Fwww.twitter.com%2Fflipkart">
      <img src="https://use.fontawesome.com/releases/v5.1.0/svgs/brands/twitter-square.svg" class="atag2" alt="">
    </a>
    <a target="_blank" href="https://www.youtube.com/flipkart?link=http%3A%2F%2Fwww.youtube.com%2Fflipkart">
      <img src="https://use.fontawesome.com/releases/v5.1.0/svgs/brands/youtube.svg" class="atag2" alt="">
    </a>
    <a target="_blank" href="https://plus.google.com/+flipkart?link=https%3A%2F%2Fplus.google.com%2F109591199284807005836%2Fposts">
      <img src="https://use.fontawesome.com/releases/v5.1.0/svgs/brands/google-plus-square.svg" class="atag2" alt="">
    </a>

  </div>
</div>
