<section id="RAM">

  <div id="ramevent" class="row">

    <div class=" col-sm-10 headingfiler">
      SCREEN SIZE
    </div>
    <div class="col-sm-2">
      <button id="rambutton" (click)="doshowhideonfilterRAM(RAM)">
        <i [class]="myclassforitag"></i>
        <!-- <i  id="upitag" class="fas fa-angle-up"></i> -->

      </button>
    </div>
  </div>
  <div [hidden]="flagforvaluesoffilterRAMclearall" id="clearallram">
    <span id="crossclearall"> x</span>
    <span id="textclearall">Clear all</span>
  </div>
  <div id="ramlist" [hidden]="flagforvaluesoffilterRAM">
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">Less than 3 inch </div>
      </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">3 - 3.4 inch</div>
      </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">3.5 -3.9 inch</div>
      </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">4 - 4.4 inch</div>
      </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">4.5 - 4.9 inch</div>
      </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">5 - 5.1 inch</div>
      </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">5.2 - 5.4 inch</div>
      </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">5.5 - 5.6 inch</div>
      </div>
    </div>


    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">5.7 - 5.9 inch</div>
      </div>
    </div>

    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">6 inch & Above</div>
      </div>
    </div>

  </div>
</section>
