.row {
    display: flex;
  }
  
  div {
    display: block;
    /* border: 1px solid black; */
    /* height: 50px; */
  }
  
  * {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px;
  }
  
  .firstreview {
    /* display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 40%; */
  }
  
  .firstreview1 {
    /* position: relative;
    float: left;
    width: 200px;
    margin: 0 10px; */
  }
  
  .firstreview11 {
    height: 150px;
    width: 125px;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  ._30XEf0 {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
      opacity: 0;
      max-width: 100%;
      max-height: 100%;
      opacity: 1;
  }
  
  img {
      text-decoration: none;
      color: inherit;
      border: none;
      outline: none;
  }
  .firstreview2{
      text-align: left;
      overflow: hidden;
      width: calc(100% - 200px);
      text-overflow: ellipsis;
  }
  /* .firstreview21{
  
  } */
  .firstreview211{
      font-weight: 500;
      font-size: 18px;
      display: block;
      cursor: pointer;
      
      margin-bottom: 2px;
  }
  .firstreview212{
      margin-bottom: 5px;
      /* line-height: 1.5; */
  }
  
  .firstreview213{
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      width: 45px;
      margin-bottom: 10px; 
  }
  #ratingreviews{
      /* margin-top: 6px; */
  }
  #rating{
      position: relative;
  }
  #rating1{
      background-color: #388e3c;
      line-height: normal;
      display: inline-block;
      color: #fff;
      padding: 2px 4px 2px 4px;
      border-radius: 3px;
      font-weight: 500;
      font-size: 12px;
      vertical-align: middle;
  
  }
  #review{
      padding-left: 8px;
      font-weight: 500;
      color: #878787;
      font-size: 12px;
      
  }
  .firstreview2121{
      font-size: 14px;
      font-weight: 500;
  }
  .firstreview2122{
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
      color: #212121;
  }
  ._3qdW4F{
      padding-bottom: 8px;
  }
  .firstreview23{
      font-size: 14px;
  }
  .secondreview1{
      width: 30%;
      text-align: left;
  }
  .secondreview11{
      padding-left: 24px;
      font-size: 14px;
      color: #878787;
  }
  .secondreview12{
      display: inline-block;
      vertical-align: top;
      /* width: 100%; */
  }
  .secondreview121{
      padding: 0 24px;
      /* padding: 24px; */
      width: 100%;
      /* -webkit-filter: none !important;
      filter: none !important; */
  }
  .secondreview1211{
      width: 100%;
      /* display: -webkit-flex;
      display: -ms-flexbox; */
      display: flex;
      /* -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap; */
      flex-flow: row wrap;
  
  }
  .secondreview12111{
      line-height: 1.4;
      font-size: 14px;
      color: #212121;
      margin: 12px 0 9px 0;
      overflow: hidden;
  }
  .hGSR34{
      color: #000;
      padding: 2px 0;
      background-color: #fff;
     
  }
  ._2xg6Ul{
      padding-left: 12px;
      padding-top: 3px;
      font-size: 14px;
      color: #212121;
      font-weight: 500;
  }
  .secondreview2{
  
  }
  ._19inI8{
      font-size: 12px;
      color: #878787;
      padding: 0 6px 0 0;
  
  }
  ._3LYOAd{
      font-weight: 500;
      font-size: 12px;
      color: #878787;
      margin-right: 8px;
  }
  .secondreview4{
      position: relative;
  }
  ._1EPkIx{
      cursor: pointer;
      font-size: 14px;
      color: #2874f0;
      font-weight: 500;
  
  }
  ._3LYOAd{
      font-size: 12px;
      color: #878787;
      margin-right: 8px;
  }
  