<div class="row">
  <div class="col-md-5 row firstreview">
    <div class="col-md-4 firstreview1">
      <div class="firstreview11">
        <img class="_30XEf0" alt="Redmi 5A (Gold, 32 GB)" src="https://rukminim1.flixcart.com/image/300/300/jdkjzww0/mobile/d/y/b/redmi-note-5-mzb5917in-original-imaf2g8zwrmywhqq.jpeg?q=90">
      </div>

    </div>
    <div class="col-md-8 firstreview2">

      <div class="firstreview211">
        <div>Redmi Note 5 (Gold, 64 GB)</div>
        <!-- <div>Redmi 5A (Gold, 32 GB)</div> -->
      </div>
      <div id="ratingreviews">
        <span id="rating">
          <div id="rating1">4.4 ★</div>
        </span>
        <span id="review">
          <span>
            <span>1,99,233 Ratings&nbsp;</span>
            <span>&amp;</span>
            <span>&nbsp;1,24,492 Reviews</span>
          </span>
        </span>
      </div>
      <div class="firstreview212">
        <div class="firstreview2121">
          <div class="firstreview2122">₹6,999</div>
        </div>
      </div>


      <div class="firstreview213"></div>

      <ul class="firstreview23">
        <li class="_3qdW4F">3 GB RAM | 32 GB ROM | Expandable Upto 128 GB</li>
        <li class="_3qdW4F">5 inch HD Display</li>
        <li class="_3qdW4F">13MP Rear Camera | 5MP Front Camera</li>
      </ul>
    </div>
  </div>
  <div class="col-md-7 row secondreview">
    <div class="col-md-6 secondreview1">
      <div class="secondreview11">Most Helpful Review</div>
      <div class="secondreview12">
        <div class="secondreview121">
          <div class="secondreview1211">
            <div class="hGSR34">4 ★</div>
            <p class="_2xg6Ul">I forced myself to Comment</p>
            <!-- <p class="_2xg6Ul">Very Good</p> -->
          </div>
          <div class="secondreview1211">
            <div class="secondreview12111">
              <div>
                <p>I dont usually comment on Product , but for this I forced myself to Comment
                  <br>MI Note 5 is my First MI Phone I Used,
                  <br>Really what a Phone :)
                  <br>Amazingly Display
                  <br>...</p>
                <span class="_1EPkIx">
                  <span>Read full review</span>
                </span>
              </div>
            </div>
          </div>
          <!-- <div class="secondreview1211">
            <div class="secondreview12111">
              <div>
                <p>This is the first time I am writing review on Flipkart.
                  <br>
                  <br>First of all kudos for the delivery service of Flipkart. I think they deliberately show longer deliv...</p>
                <span class="_1EPkIx">
                  <span>Read full review</span>
                </span>
              </div>
            </div>
          </div> -->
          <div class="secondreview1211 secondreview4">
            <div class="row">
              <p class="_3LYOAd">JATIN ANAND</p>&nbsp;
              <i class="fas fa-check-circle"></i>&nbsp;

              <p class="_19inI8">
                <span>Certified Buyer</span>
              </p>
              <p class="_3LYOAd">13 Dec, 2017</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 secondreview1">
      <div class="secondreview11">Recent Review</div>
      <div class="secondreview12">
        <div class="secondreview121">
          <div class="secondreview1211">
            <div class="hGSR34">5 ★</div>
            <p class="_2xg6Ul">Just Now</p>
          </div>
          <div class="secondreview1211">
            <div class="secondreview12111">
              <div>
                <p>Device is nice... Light weight and slim... It works fluently...Quick delivery as always..</p>
                <span class="_1EPkIx">
                  <span>Read full review</span>
                </span>
              </div>
            </div>
          </div>

          <!-- <div class="">
              <div class="">
                <div>
                  <p>This is the first time I am writing review on Flipkart.
                    <br>
                    <br>First of all kudos for the delivery service of Flipkart. I think they deliberately show longer deliv...</p>
                  <span class="_1EPkIx">
                    <span>Read full review</span>
                  </span>
                </div>
              </div>
  
            </div> -->
          <div class="secondreview1211 secondreview4">
            <div class="row">
              <p class="_3LYOAd">Flipkart Customer</p>&nbsp;
              <i class="fas fa-check-circle"></i>
              &nbsp;
              <p class="_19inI8">
                <span>Certified Buyer</span>
              </p>
              <p class="_3LYOAd">27 June, 2018</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
