<div class="row">
  <div class="col-md-4 first"> 
      <!-- <i class="fas fa-map-marker-alt tag1"></i> -->
    <!-- <i class="tag1"></i> -->
    <!-- <i class="fas fa-map-marker-alt tag1"></i> -->
    <img class="tag1" src="https://use.fontawesome.com/releases/v5.1.0/svgs/solid/map-marker-alt.svg" alt="">
    <div class="text1">
      <div>TRACK YOUR</div>
      <div>ORDER</div>
    </div>
  </div>

  <div class="col-md-4 second"> 
      <!-- <i class="tag2"></i> -->
      <img class="tag2" src="https://use.fontawesome.com/releases/v5.1.0/svgs/solid/recycle.svg" alt="">
      <!-- <i class="fas fa-map-marker-alt tag1"></i> -->
      <div class="text1">
        <div>FREE & EASY</div>
        <div>RETURNS</div>
      </div>
  </div>

  <div class="col-md-4 third">
      <!-- <i class="tag3"></i> -->
      <img class="tag3" src="https://use.fontawesome.com/releases/v5.1.0/svgs/regular/times-circle.svg" alt="">
       <div class="text1">
        <div>ONLINE</div>
        <div>CANCELLATIONS</div>
      </div>
  </div>
</div>