<section id="RAM">

  <div id="ramevent" class="row">

    <div class=" col-sm-10 headingfiler">
      GRAPHICS PROCESSOR SERIES
    </div>
    <div class="col-sm-2">
      <button id="rambutton" (click)="doshowhideonfilterRAM(RAM)">
        <i [class]="myclassforitag"></i>
        <!-- <i  id="upitag" class="fas fa-angle-up"></i> -->

      </button>
    </div>
  </div>
  <div [hidden]="flagforvaluesoffilterRAMclearall" id="clearallram">
    <span id="crossclearall"> x</span>
    <span id="textclearall">Clear all</span>
  </div>
  <div id="ramlist" [hidden]="flagforvaluesoffilterRAM">
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">450</div>
      </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">HD 640</div>
      </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">Iriss</div>
      </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">HD 6000</div>
      </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">HD 630</div>
      </div>
    </div>

    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">Iris Pluss 640</div>
      </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">1050</div>
      </div>
    </div>

    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">500</div>
      </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">520</div>
      </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">620</div>
      </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">820M</div>
      </div>
    </div>

    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">920M (N16V -GM-S)</div>
      </div>
    </div>

    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">950M</div>
      </div>
    </div>

    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">960M</div>
      </div>
    </div>

    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">HD 505</div>
      </div>
    </div>

    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">NA</div>
      </div>
    </div>

    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">610</div>
      </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">HD 405</div>
      </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">HD 510</div>
      </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">Intel HD</div>
      </div>
    </div>

    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">Intel HD Graphics 520</div>
      </div>
    </div>

    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">Intel UHD Graphics 620</div>
      </div>
    </div>

    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">M335</div>
      </div>
    </div>

    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">M420</div>
      </div>
    </div>

    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">1050Ti</div>
      </div>
    </div>

    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">1060</div>
      </div>
    </div>

    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">1070</div>
      </div>
    </div>

    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">400</div>
      </div>
    </div>

    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">920MX</div>
      </div>
    </div>

    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">AMD REDEON 530</div>
      </div>
    </div>

    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">AMD Radeon™ 520 Graphics (2 GB DDR3 dedicated)</div>
      </div>
    </div>

    <div id="ramevent1" class="row">

      <div class="col-sm-2">
        <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
        <div id="rangeRAM">Graphics HD 520</div>
      </div>
    </div>
  </div>
</section>
