<div id="NAVBAR" class="active">
 
<nav class="navbar navbar-expand-lg  ">
   
    <div class="d-flex justify-content-between" id="navbarSupportedContent">
      <button id="hemburger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
      </button>
        <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a href="#"><span>Electronics</span></a>
        </li>
        <li class="nav-item">
            <a href="#"><span>TVs & Appliances</span></a>
           
        </li>
        <li class="nav-item">
            <a href="#"><span>Men</span></a> 
        </li>
        <li class="nav-item">
            <a href="#"><span>Women</span></a> 
        </li>
        <li class="nav-item">
            <a href="#"><span>Baby & Kids</span></a> 
        </li>
        <li class="nav-item">
            <a href="#"><span>Home & Furniture</span></a> 
        </li>
        <li class="nav-item">
            <a href="#"><span>Sports,Books & More</span></a> 
        </li>
        <li class="nav-item">
            <a href="#"><span>Offer Zone</span></a> 
        </li>
      </ul>
     
    </div>
  </nav>
 
 
  <!-- <div class="nav">
      <div class="container">
          <div class="row">
              
          </div>
      </div>
  </div> -->