 
<section id="RAM">

  <div id="ramevent" class="row">

      <div class=" col-sm-10 headingfiler">
          BUDGET
      </div>
      <div class="col-sm-2">
          <button id="rambutton" (click)="doshowhideonfilterRAM(RAM)">
              <i   [class]="myclassforitag" ></i>
              <!-- <i  id="upitag" class="fas fa-angle-up"></i> -->
              
          </button>
      </div>
  </div>
  <div [hidden]="flagforvaluesoffilterRAMclearall" id="clearallram">
        <span id="crossclearall"> x</span>
        <span id="textclearall">Clear all</span>
      </div>
  <div id="ramlist" [hidden]="flagforvaluesoffilterRAM" >
      <div id="ramevent1"  class="row">

          <div class="col-sm-2">
              <input type="checkbox" id="inputRAM" value="on">

          </div>
          <div class=" col-sm-10 headingfiler">
              <div id="rangeRAM">Below Rs. 5000 </div>
          </div>
      </div>
      <div id="ramevent1" class="row">

          <div class="col-sm-2">
              <input type="checkbox" id="inputRAM" value="on">

          </div>
          <div class=" col-sm-10 headingfiler">
              <div id="rangeRAM">Rs. 5000 - Rs.9999</div>
          </div>
      </div> 
      <div id="ramevent1" class="row">

          <div class="col-sm-2">
              <input type="checkbox" id="inputRAM" value="on">

          </div>
          <div class=" col-sm-10 headingfiler">
              <div id="rangeRAM">Rs. 10000 - Rs. 14999</div>
          </div>
      </div>
      <div id="ramevent1" class="row">

          <div class="col-sm-2">
              <input type="checkbox" id="inputRAM" value="on">

          </div>
          <div class=" col-sm-10 headingfiler">
              <div id="rangeRAM">Rs. 15000 - Rs.29999</div>
          </div>
      </div>
      <div id="ramevent1" class="row">

          <div class="col-sm-2">
              <input type="checkbox" id="inputRAM" value="on">

          </div>
          <div class=" col-sm-10 headingfiler">
              <div id="rangeRAM">Rs. 30000 and Above</div>
          </div>
      </div>
       

  </div>
</section>