
<section id="RAM">

    <div id="ramevent" class="row">

        <div class=" col-sm-10 headingfiler">
            RAM
        </div>
        <div class="col-sm-2">
            <button id="rambutton" (click)="doshowhideonfilterRAM(RAM)">
                <i  [class]="myclassforitag"></i>
                <!-- <i  id="upitag" class="fas fa-angle-up"></i> -->
                
            </button>
        </div>
    </div>
    <div [hidden]="flagforvaluesoffilterRAMclearall" id="clearallram">
      <span id="crossclearall"> x</span>
      <span id="textclearall">Clear all</span>
    </div>
    <div id="ramlist" [hidden]="flagforvaluesoffilterRAM" >
        <div id="ramevent1"  class="row">

            <div class="col-sm-2">
                <input type="checkbox" id="inputRAM" value="on">

            </div>
            <div class=" col-sm-10 headingfiler">
                <div id="rangeRAM"> 1 GB </div>
            </div>
        </div>
        <div id="ramevent1" class="row">

            <div class="col-sm-2">
                <input type="checkbox" id="inputRAM" value="on">

            </div>
            <div class=" col-sm-10 headingfiler">
                <div id="rangeRAM"> 2 GB </div>
            </div>
        </div> 
        <div id="ramevent1" class="row">

            <div class="col-sm-2">
                <input type="checkbox" id="inputRAM" value="on">

            </div>
            <div class=" col-sm-10 headingfiler">
                <div id="rangeRAM"> 3 GB </div>
            </div>
        </div>
        <div id="ramevent1" class="row">

            <div class="col-sm-2">
                <input type="checkbox" id="inputRAM" value="on">

            </div>
            <div class=" col-sm-10 headingfiler">
                <div id="rangeRAM"> 4 GB </div>
            </div>
        </div>
        <div id="ramevent1" class="row">

            <div class="col-sm-2">
                <input type="checkbox" id="inputRAM" value="on">

            </div>
            <div class=" col-sm-10 headingfiler">
                <div id="rangeRAM"> 5 GB </div>
            </div>
        </div>
        <div id="ramevent1" class="row">

            <div class="col-sm-2">
                <input type="checkbox" id="inputRAM" value="on">

            </div>
            <div class=" col-sm-10 headingfiler">
                <div id="rangeRAM">6 GB &amp; Above</div>
            </div>
        </div>
        <div id="ramevent1" class="row">

            <div class="col-sm-2">
                <input type="checkbox" id="inputRAM" value="on">

            </div>
            <div class=" col-sm-10 headingfiler">
                <div id="rangeRAM">512 MB - 1 GB </div>
            </div>
        </div>
        <div id="ramevent1" class="row">

            <div class="col-sm-2">
                <input type="checkbox" id="inputRAM" value="on">

            </div>
            <div class=" col-sm-10 headingfiler">
                <div id="rangeRAM">Less than 512 MB </div>
            </div>
        </div>

    </div>
</section>