   
<section id="RAM">

  <div id="ramevent" class="row">

      <div class=" col-sm-10 headingfiler">
          SCREEN SIZE
      </div>
      <div class="col-sm-2">
          <button id="rambutton" (click)="doshowhideonfilterRAM(RAM)">
              <i   [class]="myclassforitag" ></i>
              <!-- <i  id="upitag" class="fas fa-angle-up"></i> -->
              
          </button>
      </div>
  </div>
  <div [hidden]="flagforvaluesoffilterRAMclearall" id="clearallram">
        <span id="crossclearall"> x</span>
        <span id="textclearall">Clear all</span>
      </div>
  <div id="ramlist" [hidden]="flagforvaluesoffilterRAM" >
      <div id="ramevent1"  class="row">

          <div class="col-sm-2">
              <input type="checkbox" id="inputRAM" value="on">

          </div>
          <div class=" col-sm-10 headingfiler">
              <div id="rangeRAM">14 inch - 14.9 inch</div>
          </div>
      </div>
      <div id="ramevent1" class="row">

          <div class="col-sm-2">
              <input type="checkbox" id="inputRAM" value="on">

          </div>
          <div class=" col-sm-10 headingfiler">
              <div id="rangeRAM">13 inch - 13.9 inch</div>
          </div>
      </div> 
      <div id="ramevent1" class="row">

          <div class="col-sm-2">
              <input type="checkbox" id="inputRAM" value="on">

          </div>
          <div class=" col-sm-10 headingfiler">
              <div id="rangeRAM">15 inch - 15.9 inch</div>
          </div>
      </div>
      
      <div id="ramevent1"  class="row">

        <div class="col-sm-2">
            <input type="checkbox" id="inputRAM" value="on">

        </div>
        <div class=" col-sm-10 headingfiler">
            <div id="rangeRAM">Below 12 inch</div>
        </div>
    </div>
    <div id="ramevent1" class="row">

        <div class="col-sm-2">
            <input type="checkbox" id="inputRAM" value="on">

        </div>
        <div class=" col-sm-10 headingfiler">
            <div id="rangeRAM">16 inch - 17.9 inch</div>
        </div>
    </div> 
    <div id="ramevent1" class="row">

        <div class="col-sm-2">
            <input type="checkbox" id="inputRAM" value="on">

        </div>
        <div class=" col-sm-10 headingfiler">
            <div id="rangeRAM">12 inch - 12.9 inch</div>
        </div>
    </div>
    <div id="ramevent1" class="row">

      <div class="col-sm-2">
          <input type="checkbox" id="inputRAM" value="on">

      </div>
      <div class=" col-sm-10 headingfiler">
          <div id="rangeRAM">18 inch - 20 inch</div>
      </div>
  </div>
   

  </div>
</section>